<h1>Hires#future</h1>

<% @Hires.each do |hire| %>
  <ul>
    <li><strong>Username: </strong><%= hire.user.username %></li>
    <li><strong>Group: </strong><%= hire.group.name %></li>
    <li><strong>Status: </strong><%= hire.status %></li>
    <li><strong>Band: </strong><%= hire.band %></li>
    <li><strong>Invoice Number: </strong><%= hire.invoice_number %></li>
    <br>
    <li><strong>Collect Date: </strong><%= hire.collect_date.strftime("%d-%b-%Y") %></li>
    <li><strong>Return Date: </strong><%= hire.return_date.strftime("%d-%b-%Y") %></li>
    <br> 
    <li><strong>Reference: </strong><%= hire.reference %></li>
  </ul>
<% end %>
